<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<id>a0f8adb2-4a87-430b-89f8-4df50de9cca8</id>
	<title>CMScout Private Messaging</title>
	<version>0.1</version>
	<category>User Management</category>
	<type>private_message</type>
	<author>CMScout</author>
	<description>Enables users to send private messages to each other.</description>	
</plugin>